.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.form .contacts {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin-bottom: 1.5rem;
}
.fluid {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.fluid .but ,.fromfield button {
  max-width: 50%;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 18px;
  flex-grow: 1;
  border: none;
  outline: none;
  color: white;
  background-color: black;
  /* padding-inline: 1.8rem; */
  padding-block: 1.2rem;
  border-radius: 6px;
}
.mail {
  display: flex;

  max-width: 100%;
}
.mail button   {
  flex-grow: 1;
  border: none;
  outline: none;
  flex-grow: 1;
  padding-block: 1rem;
  border-radius: 6px;
  color: black;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.left {
  flex-grow: 2;
}

.fromfield {
  display: flex;
  flex-direction: column;
}

.fromfield input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 20px;
}

.fromfield legend {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 600;
  margin-left: 2rem;
}
.fromfield fieldset {
  margin-bottom: 1rem;
}

textarea {
  border: none;
  outline: none;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.right img {
  width: 100%;
}

submit{

}

@media (max-width: 390px) {
  .fluid .but {
    padding-block: 0.5rem;
    font-weight: 500;
    font-size: 12px;
  }
  .mail button{
    padding-block: 0.5rem;
    font-weight: 500;
    font-size: 12px;
  }
  .fromfield legend{
    font-size: 12px;
    font-weight: 500;
    margin-left: 1rem;
  }
}
